spring.application.name=microcrm

# Ecrire les logs dans un fichier texte
logging.file.name=logs/microcrm.log
logging.logback.rollingpolicy.max-file-size=10MB
logging.logback.rollingpolicy.max-history=7
logging.logback.rollingpolicy.total-size-cap=100MB

